<div *ngIf="!isLoading" class="events-card-wrapper">
  <div
    class="events-card"
    *ngFor="let eventTypeList of eventTypeListComponents">
    <ng-container
      *ngComponentOutlet="
        eventTypeList.component;
        injector: eventTypeList.injector
      "></ng-container>
  </div>
</div>
