<mat-expansion-panel [(expanded)]="expanded" hideToggle>
    <mat-expansion-panel-header class="expansion-panel-header">
      <mat-panel-title class="expansion-panel-title">
        <div class="title">
          <h2 class="title-text">{{ title | translate }}</h2>
          <foo-svg-icon
            svgId="caret-down"
            class="expansion-indicator"
            [class.expanded]="expanded">
          </foo-svg-icon>
        </div>
        <div
          fxLayout="row wrap"
          fxLayoutAlign="space-between center"
          onclick="event.stopPropagation()"
          onkeydown="event.stopPropagation()">
          <div *ngIf="!isReadonly">
            <a [routerLink]="[createEventRouterLink]">
              <button mat-raised-button color="primary">
                <foo-svg-icon svgId="plus" class="button-icon"> </foo-svg-icon>
                <span>{{ 'Common.Events.Btn.New' | translate }}</span>
              </button>
            </a>
          </div>
          <foo-search
            [columns]="columns"
            [(filter)]="searchFilter"
            (filterChange)="expandPanel()"
            (filterColumnChange)="onFilterColumnChange($event)"
            [availableValues]="searchAvailableValues">
          </foo-search>
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
  